.introduction {
    color: antiquewhite;
    background-color: rgb(61, 120, 247) ;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.introduction h2{
    color: darkblue;
}
.introduction ul {
    list-style-type: none;   
    margin: 0;
    padding: 10px 20px;
    display: flex;           
    gap: 20px;               
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.introduction a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}
.definition {
    color: #c00;  
    background-color: #fff3cd;   
    border-left: 4px solid orange;  
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    font-style: italic;
}
button,
[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 6px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 6px 0;
}
form {
  margin-top: 10px;
}
form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
  background-color: #e3f1e6;
  border: 1px solid #75c588;  
  outline: none;              
  box-shadow: 0 0 4px rgba(40, 167, 69, 0.5); 
}


form input[type="submit"] {
  background-color: #28a745;
  padding: 8px 20px;
  font-size: 14px;
  width: 100%;
}

form input[type="submit"]:hover {
  background-color: #218838;

}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #007bff;
  color: white;
  text-align: left;
  padding: 10px;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
}


tr:nth-child(even) {
  background-color: #f2f9ff;
}

table td {
  padding: 10px;
  border: 1px solid #ccc;
}
.grade {
  color: green;
  font-weight: bold;
}
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  background-color: rgb(224, 224, 224);
  height: 40px;

}




